
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
             <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

        {%- if site.wechat -%}
        <div class="footer-col footer-col-wechat">
                <image style = "max-width:80px"  src = "{{ site.wechat }}"> 
        </div>
        {%- endif -%}

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
         {%- if site.case_no -%}
        <p><a href="{{ site.case_url }}">{{ site.case_no }}</a></p>
         {%- endif -%}
      </div>

   </div>

  </div>

</footer>

