---
layout: default
---

<div class="home">

  {{ content }}
  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {%- if site.show_excerpts -%}
      <p>{{ post.excerpt | strip_html | strip_newlines | escape | strip }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>


<div class="side">
  <ul>
    {% for tag in site.tags %}
    <li><a href="tags/#{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
