---
layout: default
---

<div class = "content">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
                <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
                <p class="post-meta">  
                        {%- if page.author -%}
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
                        </span>
                        {%- endif -%}
                        <span>  </span>
                        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                                {{ page.date | date: date_format }}
                        </time>
                </p>
        </header>

        <div class="post-content e-content" itemprop="articleBody">
                {{ content }}
                <hr>
                <div class = "contact">
                        <h3 id="联系方式">联系方式：</h3>
                        <blockquote>
                                <p>
                                        邮箱：<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a><br />
                                        网站：<a href="{{site.url}}">{{site.url}}</a><br />
                                        源文：<a href="{{ page.url | absolute_url }}">{{page.url | absolute_url | url_decode}}</a>
                                </p>
                        </blockquote>
                </div>
        </div>
</article>
</div>

<div class = "pagination">
        <div class = "previous">
        {% if page.previous %}
                <a href = "{{page.previous.url}}"><span class = "left">上一篇</span>{{page.previous.title}}</a>
        {% endif %}
        </div>
        <div class = "next">
        {% if page.next %}
                <a href = "{{page.next.url}}"><span class = "right">下一篇</span>{{page.next.title}}</a>
        {% endif %}
        </div>
</div>

<div class="tags">
        TAGS：
        <ul>
                {% for tag in page.tags %}
                        <li><a href="/tags.html#{{tag}}">{{tag}}</a></li>
                {% endfor %}
        </ul>
</div>

{% assign posts = "" | split: "," %}
{% for current in page.tags %}
        {% for tag in site.tags %}
                {% if current == tag[0] %}
                        {% assign posts = posts | concat: tag[1] %}
                {% endif%}
        {% endfor %}
{% endfor %}

{% assign urls = posts | map: "url" | uniq %}

<div class = "top"> 
        推荐：
        <ul> 
        {% for url in urls limit:5 %} 
                {% for post in site.posts %}
                        {% if url == post.url %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endif %}
                {% endfor%} 
        {% endfor%} 
        </ul>
</div>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}