---
layout: page
---


  {{ content }}

  <div class="tags">
      TAGS：
      <ul>
        {% for tag in site.tags reversed %}
        <li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
        {% endfor %}
      </ul>
  </div>

  <ul class="post-list" id = "post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        <p>{{ post.excerpt | strip_html | strip_newlines | escape | strip }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
  </ul>


<script>
    var data = "{ {% for tag in site.tags %} \"{{tag[0]}}\":[ {%for post in tag[1] %} { \"title\": \"{{post.title | escape}}\", \"excerpt\": \"{{post.excerpt | strip_html | strip_newlines | strip }}\", \"date\": \"{{post.date | date:site.date_format}}\", \"url\": \"{{post.url | relative_url}}\" }, {%endfor%} ], {% endfor %} }"
    var data = data.replace(/,\s+]/g,"]").replace(/,\s+}/g,"}").replace(/\t+/g,"")
    const posts = JSON.parse(data)
    const hash = window.location.hash.replace("#","");
    if(hash){
      displayPage(hash)
    }
    window.addEventListener('hashchange',function(){
      const hash = window.location.hash.replace("#","");
      displayPage(hash)
    })
    function displayPage(hash){
      hash = decodeURI(hash)
      var html = build(posts[hash])
      var ul = document.getElementById("post-list");
      ul.innerHTML = html
    }
    function build(posts){
      var list = new Array();
      posts.forEach(function(post){
        list.push("<li>")
        list.push("<span class=\"post-meta\">")
        list.push(post.date)
        list.push("</span>")
        list.push("<h3><a class=\"post-link\" href=\"")
        list.push(post.url)
        list.push("\">")
        list.push(post.title)
        list.push("</a></h3>")
        list.push("<p>")
        list.push(post.excerpt)
        list.push("</p>")
        list.push("</li>")
      })
      return list.join("")
    }
  </script>
